<div class="container text-center">
  <div class="row">
  <div class="col-sm  col-md-12 col-xl-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-xl-8">
          <img  class="bannerLogin"  [src]="imageUrlLogin"
          width="1200" height="300" alt="banner da confeitaria">
        </div>
      </div>
    </div>
<mat-card>
<form [formGroup]="form" fxLayoutAlign="center" novalidate>
  <mat-list>
    <mat-list-item>
	  <mat-form-field>
	    <input matInput placeholder="Email"
	    	formControlName="email">
	  </mat-form-field>
	</mat-list-item>
    <mat-list-item>
	  <mat-form-field>
	    <input type="password" matInput placeholder="Senha"
	    	formControlName="senha">
	  </mat-form-field>
	  <span matTooltip="Senha deve conter ao menos 6 caracteres">
	    <mat-icon>help</mat-icon>
	  </span>
	</mat-list-item>
    <mat-list-item fxLayoutAlign="center">
	  <button class="mat-button"
	  	[disabled]="form.invalid" (click)="logar()">
	  	Entrar
	  </button>
	</mat-list-item>
    <mat-list-item>
      <a class="mat-button" mat-button  routerLink="/cadastro-pf">
	  	Cadastrar PF
	  </a>
	  <a class="btnVoltar" routerLink="/cadastro-pj">
	  	Cadastrar PJ
	  </a>
	</mat-list-item>
  </mat-list>
</form>
</mat-card>
</div>
</div>
</div>






